body {
	margin: 0px;
	font-family: 'Libre Baskerville', 'Arial', san-serif;
	font-size: 10pt;
}

td {
	font-size: 10pt;
}

#title {
	float: left;
	width: 49%;
	text-align: left;
}

#title h1 {
	margin: 0;
	font-size: 16pt;
	padding-left: 2px;
}

#main h1 {
	font-size: 18pt;
}

#welcome {
	float: right;
	width: 49%;
	text-align: right;
	padding: 2px;
}

#header {
	/*overflow: hidden;*/
}

.headerrow {
	width: 100%;
	clear: both;
	background-color: #f3efe5;
	overflow: auto;
}

#topbar {
	width: 100%;
	height: 7px;
	background-color: #eeddb3;
	overflow: auto;
}

#navcontainer {
	background-color: #4eace0;
	width: 100%;
	position: absolute;
	right: 0;
}

#navcontainer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
	position: relative;
	float: left;
	background-color: #4eace0;
	/*overflow: hidden;*/
}

#navcontainer ul a {
	text-decoration: none;
	padding: 10px 15px;
	color: #fff;
	display: block;
	font-weight: 700;
}

#navcontainer ul li {
	position: relative;
	/*display: block;*/
	float: left;
	margin: 0;
}

#navcontainer ul li:hover {
	background-color: #4eaca0;
}

#navcontainer ul ul {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	margin: 0;
	padding: 0;
	text-align: left;
	background-color: #4eace0;
}

#navcontainer ul ul li
{
	color: #20709b;
	float: none;
	width: 200px;
	margin: 0;
}

#navcontainer ul ul a {
	text-decoration: none;
	padding: 10px 15px;
	color: #fff;
}

#navcontainer ul ul ul {
	top: 0px;
	left: 100%;
}

#navcontainer ul li:hover > ul
{
	display: block;
	z-index: 100;
}

#footer {
	background-color: #4d4b44;
	color: #fff;
	height: 25px;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

#classinfo {
	text-align: right;
	size: 0.5em;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#loginbox {
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
	width: 250px;
	padding: 30px;
	border: 1px solid #000;
}

.submit {
	color: #ffffff;
	font-size: 20px;
	padding: 10px;
	background: #4eace0;
	border: solid #000000 1px;
	text-decoration: none;
}

#fattach {
	display: none;
}

#main {
	padding: 5px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.pbal {
	font-size: 16pt;
	font-weight: bold;
}

input#username {
	background-color: #ccc;
}

.note {
	font-size: 8pt;
	font-style: italic;
}